<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos_modulo1.css" type="text/css">
    <title>Mod. Asignaturas</title>
</head>
<body>

    <h1 class="titini">Consultas generales de asignaturas</h1>
    <br>
    <p class="pint">Esta aplicación web esta diseñada con base a una API REST, y tiene por objetivoconsulta los registro de una base de datos alojada 
        localmente, la cual, contiene información respecto de tres entidades principales (estudiantes, profesores, asignaturas). Asimismo, esta permite
        consultar las relaciones que pueden surgir, es decir, las asignaturas que tienen los estudiantes inscritas, asignaturas impartidas por un
        profesor, y demas. </p>
    <hr>
    <h2>Selecciona la consulta que quieres realizar</h2>
    <br>
    <a href="/inicio/asignaturas/consolidado">Consulta de totalidad de asignaturas</a>
    <br>
    <br>
    <a href="">Consulta de una asignatura en especifico</a>    
    <br>


        <input type="number" id="input">
        <br>
        <button onclick="generaurl()">Enviar solicitud</button>
        <br>
    <a href="">Consulta de asignaturas impartidas por un profesor (digita id de la asignatura)</a>
    <br>
    <input type="number" id="input2">
    <br>
    <button onclick="generaurl2()">Enviar solicitud</button>

        <script>
            function generaurl(){

                let atri=document.getElementById("input").value;
                console.log("Hola")
                let url='/inicio/asignaturas/consolidado/'+atri
                window.open(url)
            }
            function generaurl2(){
                let atri=document.getElementById("input2").value;
                console.log("Hola")
                let url='/inicio/asignaturas/consolidado/'+atri+'/profesores'
                window.open(url)
                                }
            
        </script>


<h2>Registra una asignatura</h2>
<form action='/inicio/asignaturas/consolidado/registro'target="" method="post" name="formDatosPersonales">

	<label for="codigo">Codigo</label><br>
	<input type="number" name="cod_a" id="codigo" placeholder="Escribe codigo asignatura"/><br>

	<label for="nombre">Nombre</label><br>
	<input type="text" name="nom_a" id="nombre" placeholder="Escribe nombre asignatura"/><br>

	<label for="direccion" >Intensidad Horas</label><br>
	<input type="text" name="ih" id="direccion" placeholder="Escribe intensidad horaria" required /><br>

	<label for="telefono">Creditos</label><br>
	<input type ="text" name="cred" id="telefono" placeholder="Escribe creditos asignatura"/><br>
	
	<input type="submit"  value="Guardar Asignatura"/>
</form>

</body>
</html>