<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio AppWen NodeJs</title>
    <link rel="stylesheet" href="/estilos_basedatos.css" type="text/css">
</head>
<body>
    <div class="contenedor">

    <h1 class="tituloini">Modelo relacional de la base de datos</h1>
    <hr>
    <p class="pint">Esta sección muestra el modelo relacional asociado a la base de datos trabajada en el proyecto. Se pueden apreciar las diferentes
        entidades que conforman la misma y sus atributos. Con esto se busca dar una contextualizacion mas detallada del proyecto. </p>
    <ul>
        <li class="nav-menu">
            <a href="/inicio/estudiantes">Consultas generales de estudiantes</a>
        </li>
        <li class="nav-menu">
            <a href="/inicio/profesores">Consultas generales de profesores</a>
        </li>
        <li class="nav-menu">
            <a href="/inicio/asignaturas">Consultas generales de asignaturas</a>

        </li>

    </ul>

    <div class="showcase">
        
    </div>
    
    <p class="pint">Autores:  Sariaht Xiomara Ariza - Jose Ricardo Castillo Caicedo</p>
</div>
</body>
</html>