<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 1</title>
    <link rel="stylesheet" href="estilos_inicio.css" type="text/css">
</head>
<body>

    <h1 class="tituloini">Proyecto Final Programaci칩n Avanzada</h1>
    <br>
    <h2>Resumen:</h2>
    <p>Esta aplicaci칩n web consulta los registro de una base de datos alojada en el portal web Clever Cloud, la cual, tiene una tabla
        denominada registro_alumnos en la que reposa la informaci칩n de 50 estudiantes de Espa침a. En esta se puede consultar el nombre,
        apellidos, correo, genero, ciudad de origen, ingresos, y promedio de notas universitaras</p>
    <br>
    <h2>Consultas</h2>

    <ul>
        <li class="nav-menu">
            <a href="/documentacion">Consultas generales de estudiantes</a>
        </li>
        <li class="nav-menu">
            <a href="/documentacion">Consultas generales de profesores</a>
        </li>
        <li class="nav-menu">
            <a href="/documentacion">Consultas generales de asignaturas</a>

        </li>

    </ul>


    <p>MYSQL_ADDON_HOST=bvxkl8kzdxxyvlg9pqox-mysql.services.clever-cloud.com</p>
    <p>MYSQL_ADDON_DB=bvxkl8kzdxxyvlg9pqox</p>
    <p>MYSQL_ADDON_USER=ugegb1addkivnaeq</p>
    <p>MYSQL_ADDON_PORT=3306</p>
    <p>MYSQL_ADDON_PASSWORD=4JR2cAZypsGUws3mzNLi</p>


    <h2>Selecciona la consulta que quieres traer</h2>

    

    <form action="/validar" method="post">    
        Cedula:
        <input type="number" name="ced" id="ced"><br><br>

        Nombres:
        <input type="text" name="nom" id="nom"><br><br>

        Apellido:
        <input type="text" name="apell" id="apell"><br><br>

        <input type="submit" value="Registrar">

    </form>
    
</body>
</html>