<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio AppWen NodeJs</title>
    <link rel="stylesheet" href="/estilos_inicio.css" type="text/css">
</head>
<body>
    <div class="contenedor">

    <h1 class="tituloini">Proyecto Final Programaci칩n Avanzada</h1>
    <hr>
    <p class="pint">Esta aplicaci칩n web esta dise침ada con base a una API REST, y tiene por objetivo consultar los registros de una base de datos alojada 
        localmente, la cual, contiene informaci칩n respecto de tres entidades principales (estudiantes, profesores, asignaturas). Asimismo, esta permite
        consultar las relaciones que pueden surgir, es decir, las asignaturas que tienen los estudiantes inscritas, asignaturas impartidas por un
        profesor, y demas. </p>
    <ul>
        <li class="nav-menu">
            <a href="/inicio/estudiantes">Consultas generales de estudiantes</a>
        </li>
        <li class="nav-menu">
            <a href="/inicio/profesores">Consultas generales de profesores</a>
        </li>
        <li class="nav-menu">
            <a href="/inicio/asignaturas">Consultas generales de asignaturas</a>

        </li>

    </ul>

    <div class="showcase">
        <p>Acerca de la base de datos</p>
    </div>
</body>
</html>