<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/estilos_modulo1.css" type="text/css">
    <title>Pagina 1</title>
</head>
<body>

    <h1>Consultas generales de estudiantes</h1>
    <br>
    <hr>
    <h2>Selecciona la consulta que quieres realizar</h2>
    
</body>
</html>