<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos_modulo1.css" type="text/css">
    <title>Mod. Profesores</title>
</head>
<body>

    <h1 class="titini">Consultas generales de profesores</h1>
    <br>
    <p class="pint">Esta aplicación web esta diseñada con base a una API REST, y tiene por objetivoconsulta los registro de una base de datos alojada 
        localmente, la cual, contiene información respecto de tres entidades principales (estudiantes, profesores, asignaturas). Asimismo, esta permite
        consultar las relaciones que pueden surgir, es decir, las asignaturas que tienen los estudiantes inscritas, asignaturas impartidas por un
        profesor, y demas. </p>
    <hr>
    <h2>Selecciona la consulta que quieres realizar</h2>
    <br>
    <a href="/inicio/profesores/consolidado">Consulta de totalidad de profesores</a>
    <br>
    <br>
    <a href="">Consulta de un profesor en especifico</a>    
    <br>


        <input type="number" id="input">
        <br>
        <button onclick="generaurl()">Enviar solicitud</button>
        <br>
    <a href="">Consulta de asignaturas impartidas por un profesor (digita id del profesor)</a>
    <br>

    <input type="number" id="input2">
    <br>
    <button onclick="generaurl2()">Enviar solicitud</button>



        <script>
            function generaurl(){
                let atri=document.getElementById("input").value;
                //console.log("Hola")
                let url='/inicio/profesores/consolidado/'+atri
                window.open(url)

            }
            function generaurl2(){
                let atri=document.getElementById("input2").value;
                //console.log("Hola")
                let url='/inicio/profesores/consolidado/'+atri+'/asignaturas'
                window.open(url)

            }

        </script>
    <hr>
        <h2>Registra un profesor</h2>
        <form action='/inicio/profesor/consolidado/registro' target="" method="post" name="formDatosPersonales">
        
            <label for="codigo">Id Profesor</label><br>
            <input type="number" name="id_p" id="codigo" placeholder="Escribe id profesor"/><br>
        
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nom_p" id="nombre" placeholder="Escribe nombre profesor"/><br>
        
            <label for="direccion" >Profesion</label><br>
            <input type="text" name="profesion" id="direccion" placeholder="Escribe profesion profesor" required /><br>
        
            <label for="telefono">Telefono</label><br>
            <input type ="text" name="tel_p" id="telefono" placeholder="Escribe telefono profesor"/><br>
            
            <input type="submit"  value="Guardar Profesor"/>
        </form>
</body>
</html>